// @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Fira Code'; 
    src: url("../../FiraCode-VariableFont_wght.ttf"); 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    color: white;
}
.red {
    color: red;
}
// iframe {
//     width: 531px;
//     height: 300px;
// }
.button {
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}
body {
    background-color: black;

    a {
        color: rgb(0, 60, 255)
    }
    p {
        padding-top: 3px;
        z-index: 2;
    }
}
.small {
    color: #252525;
}
a {
    text-decoration: none;
}