.history-page a:before {
  display: inline-block;
  vertical-align: top;
  width: auto;
}
.history-page a[href ^= "/a"]:before {
  content: '[Аниме] ';
  color: #34a853;
  margin-right: 5px;
}
.history-page a[href ^= "/m"]:before {
  content: '[Манга] ';
  color: #9c27b0;
  margin-right: 5px;
}
.history-page a[href ^= "/r"]:before {
  content: '[Ранобэ] ';
  color: #039be5;
  margin-right: 5px;
}
[data-locale="en"] .history-page a[href ^= "/a"]:before {
  content: '[Anime] ';
  margin-right: 5px;
}
[data-locale="en"] .history-page a[href ^= "/m"]:before {
  content: '[Manga] ';
  margin-right: 5px;
}
[data-locale="en"] .history-page a[href ^= "/r"]:before {
  content: '[Ranobe] ';
  margin-right: 5px;
}