
#particles-js {

}

.menu {
  position: relative;
	background-color: #0B0E23;
	height: 45px;
	padding: 0px;
  width: 900px;
  left: -12px;
	margin: 0px;
	display: block;
	
}


a {

	text-decoration: none;
}

li {
	display: inline-block;
	padding: 12px;
	color: white;
	Font-size: 19px;
	position: relative;
}

body {
  
	margin: 0px;
  padding: 0px;
	background-color: #0B0E23;
}

.sbz1 {
    border: 4px ridge white;
	width: 700px;
    color: White;

}

.sbb1 {
	background-color: #ffffff;
	width: 150px;
	color: black;
	Font-size: 19px;
	border: 2px ridge black;

	
}



.adsb {
	background-color: #ffffff;
	width: 100px;
	color: black;
	Font-size: 19px;
	border: 2px ridge black;

	
}

.TopLogo {
    background: url(https://images2.alphacoders.com/754/thumb-1920-754606.jpg) ;
    height: 500px;
     background-size: cover; background-repeat: repeat-y;
    	-webkit-box-shadow: inset 0px 0px 85px rgba(0,0,0,0.4);
	-moz-box-shadow:    inset 0px 85px 85px rgba(0,0,0,0.4);
	box-shadow:         inset 9000px 0px 85px rgba(0,0,0,0.4);
   
}

.NewJS {
    position: relative; ; top: 40px;

}
.nonamedivclass {
	    filter: blur(3px); 
    -webkit-filter: blur(3px); 
    -moz-filter: blur(3px);
    -o-filter: blur(3px); 
    -ms-filter: blur(3px);
   
}

.WhiteText {
    color: white;
    

}

.WhiteTextJS {
	font-size: 30px;
    color: white;
    font-family: COMIC SANS MS;

}

a.button10 {
  display: inline-block;
  color: black;
  font-size: 125%;
  font-weight: 700;
  font-family: COMIC SANS MS; 
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(250,172,17);
  border-radius: 7px;
  background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
} 
a.button10:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
a.button10:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}

a.button11 {
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
} 
a.button11:hover { background: rgba(255,255,255,.2); }
a.button11:active { background: white; }

.subico {
   top: -8px;
}

#particles-js {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.ChatCls {
  background-color: White;
   top: 400px;
   width: 300px;
}