@keyframes login-box-logo-init {

0%, 10% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    opacity: 0;
    top: 50px;
  }
  
70% {
    top: 50px;
  }
  
100% {
    top: 0;
  }

}

@-webkit-keyframes login-box-logo-init {

0%, 10% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    opacity: 0;
    top: 50px;
  }
  
70% {
    top: 50px;
  }
  
100% {
    top: 0;
  }

}

@-moz-keyframes login-box-logo-init {

0%, 10% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    opacity: 0;
    top: 50px;
  }
  
70% {
    top: 50px;
  }
  
100% {
    top: 0;
  }

}

@keyframes login-box-button-init {

0%, 70% {
    opacity: 0;
  }

}

@-webkit-keyframes login-box-button-init {

0%, 70% {
    opacity: 0;
  }

}

@-moz-keyframes login-box-button-init {

0%, 70% {
    opacity: 0;
  }

}

.carousel-control {
  opacity: 0;
}

.carousel-control:focus {
  opacity: 0;
}

.carousel-control:focus:hover {
  opacity: 0.9;
}

.preview {
  padding: 0;
}

.preview img {
  margin: auto;
}

.preview .modal-content {
  background-color: black;
}

.preview .carousel-control.right, .preview .carousel-control.left {
  width: 30%;
}

.preview .modal-header {
  position: absolute;
  z-index: 1;
  left: 30%;
  width: 40%;
  height: 100%;
  border: none;
  cursor: pointer;
}

.image-item {
  border: 1px solid #eee;
  padding: 15px 5px;
}

.image-item:hover {
  background-color: #eee;
}

.image-box-wrapper {
  height: 150px;
}

.image-box {
  max-width: 150px;
  max-height: 150px;
  margin: auto;
  display: block;
}

.title-cover-placeholder {
  height: 300px;
  width: 100%;
  text-align: center;
  border-radius: 0 !important;
  padding-top: 70px !important;
  margin-bottom: 0;
  background-color: #d9534f;
}

.title-cover-placeholder hr {
  border-color: #333;
}

.modal-content {
  border-radius: 0;
}

.parrent-bg {
  background: inherit;
}

.vote-up {
  background-color: #d8eeff;
}

.vote-down {
  background-color: #ffd8d8;
}

.vote-super {
  background-color: #fef4af;
}

.title-button-wrapper {
  float: left;
  width: 20%;
}

.title-button-wrapper >:focus, .title-button-wrapper >:hover {
  background: hsla(0, 0%, 58.82353%, 0.15);
}

.btn {
  border-radius: 0;
  outline: none !important;
  background: transparent;
}

.btn.btn-primary {
  color: #337ab7;
}

.btn.btn-primary:hover {
  background-color: #337ab7;
  color: white;
}

.navbar-default {
  background-color: white;
  border-bottom: 1px solid #eee;
}

.navbar-default >.container {
  position: relative;
}

.navbar-default.no-border {
  border: none;
}

.title-description {
  position: absolute;
  top: 10%;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
  transition-property: top, bottom;
  transition-duration: 300ms;
}

.title-description.description-hidden {
  top: 100%;
  bottom: -100%;
}

.title-description-wrapper {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.title-description-text {
  padding: 10px;
}

.title-description-text p {
  line-height: 1.5;
  padding: 5px;
}

.volumes-info {
  box-shadow: 0 0 1px hsla(0, 0%, 0%, 0.8);
  color: white;
  top: -35px;
  font-weight: bold;
  background-color: hsla(0, 0%, 0%, 0.8);
  padding: 3px 10px;
  position: absolute;
  border-radius: 3px;
  left: 10px;
}

.title-card {
  width: 100%;
  padding: 20px;
}

@media (min-width: 500px) {

  .title-card {
    width: 50%;
  }

}

@media (min-width: 1000px) {

  .title-card {
    width: 33%;
  }

}

.title-card .thumbnail {
  margin-bottom: 0;
  padding: 0;
  cursor: pointer;
  transition: background 300ms;
  -webkit-transition: background 300ms;
  -moz-transition: background 300ms;
  overflow: hidden;
}

.title-card .thumbnail .caption {
  padding: 9px 15px;
}

.title-card .thumbnail .title-block {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.title-card .thumbnail .title-block img {
  width: 100%;
}

.title-card .thumbnail .title-block .control-panel {
  background-color: white;
  position: absolute;
  z-index: 10;
  top: -50px;
  padding: 5px 10px;
  width: 100%;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
  transition: top 100ms ease-out;
  -webkit-transition: top 100ms ease-out;
  -moz-transition: top 100ms ease-out;
}

.title-card .thumbnail .title-block .control-label {
  text-transform: uppercase;
  margin-left: 10px;
  float: left;
}

.title-card .thumbnail .title-block:hover .control-panel {
  top: 0;
}

.notifications-list {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  max-width: 100%;
}

.notifications-list .notification {
  width: 400px;
  max-width: 100%;
}

.notifications-list .notification .alert {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 0;
}

.flat-text-input {
  border-left: none !important;
  height: 34px;
  padding: 0;
  border-right: none !important;
  border-top: none !important;
  border-bottom-style: solid;
  border-bottom-width: 2px !important;
  box-shadow: none !important;
  border-radius: 0;
  background: none;
}

.form-control, .form-control:focus {
  border-radius: 0;
  box-shadow: none;
}

.btn-link:hover {
  margin-top: 0;
}

.label {
  text-transform: uppercase;
  color: #444;
  font-weight: normal;
  margin-left: 3px;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0;
}

.label.label-tag-status {
  border-color: #5cb85c;
  color: #5cb85c;
}

.label.label-tag-status.active {
  color: white;
  background-color: #5cb85c;
}

.label.label-tag-ca {
  border-color: #337ab7;
  color: #337ab7;
}

.label.label-tag-genre {
  border-color: #d9534f;
  color: #d9534f;
}

.label.label-tag-element {
  border-color: #5bc0de;
  color: #5bc0de;
}

.label.label-tag-format {
  border-color: #f0ad4e;
  color: #f0ad4e;
}

.rooms-link {
  padding: 7px 0;
  font-size: 1em;
}

.rooms-list .btn {
  color: #444;
  border: none;
  width: 100%;
}

.login-box-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.login-box-container .login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  text-align: center;
}

.login-box-container .login-box .login-logo {
  display: block;
  position: relative;
  margin-bottom: 50px;
  animation: login-box-logo-init 2s;
  -webkit-animation: login-box-logo-init 2s;
  -moz-animation: login-box-logo-init 2s;
}

.login-box-container .login-box .login-button {
  animation: login-box-button-init 2s;
  -webkit-animation: login-box-button-init 2s;
  -moz-animation: login-box-button-init 2s;
}

.table>tbody>tr>td {
  border-top: none;
}

.table {
  margin-bottom: 0;
}

.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {

  .container.no-padding {
    padding-left: 15px;
    padding-right: 15px;
  }

}

.paper {
  border: none;
  box-shadow: none;
  position: relative;
}

@media (min-width: 768px) {

  .paper {
    border: 1px solid hsla(0, 0%, 0%, 0.09);
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.04);
    border-radius: 1px;
  }

}

.dropdown-menu {
  border-radius: 0;
  border: none;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.25), 0 0 1px hsla(0, 0%, 0%, 0.35);
  z-index: 10000;
}

.dropdown-menu.open {
  display: block;
}

.dropdown-menu li.dropdown-header {
  padding-top: 7px;
  padding-bottom: 7px;
}

.dropdown-menu li a {
  padding-top: 7px;
  padding-bottom: 7px;
}

.dropdown-menu.fade {
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transition-property: opacity, transform;
  transition-duration: 150ms;
}

.dropdown-menu.fade.in {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
}

.dropdown-menu .divider {
  margin: 10px 0;
  padding: 0;
  background-color: #eee;
}

.user-area {
  cursor: pointer;
  margin-right: 25px;
}

@media (min-width: 768px) {

  .user-area {
    margin-right: 5px;
  }

}

.user-area .avatar {
  display: inline-block;
  padding: 15px 0;
}

.user-area .avatar img {
  border-radius: 100%;
  width: 30px;
}