* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
#menu {
  z-index: 999;
  position: fixed;
  bottom:  0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.855);
  backdrop-filter: blur(10px);

}
#menu  a {color: white;}
#menu li {
  color: white;
  float: left;
  text-decoration: none;
  list-style: none;
  padding: 20px;
}
#promo {
  color: white;
  text-align: center;
  max-width: 100%;

  background-position: center;
  background-size: cover;
}

#promo img {
  border-radius: 999px;
}

#promoblur {
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 25px;
  padding-bottom: 25px;
}

#posts {
  display: flow-root;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.post-cont {
  user-select: none;
  -webkit-user-drag: none;
  overflow: hidden;
  border-radius: 25px;
  width: 300px;
  height: 410px;
  float: left;
  margin-top: 40px;
  margin-left: 32px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
}
#post {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.post-cont .postname {
  position: relative;
  top: 220px;
  background: linear-gradient(0deg, #000000 10%, rgba(0, 0, 0, 0) 100%);
  height: 190px;
  width: 100%;
  transition: 1s;
}
.post-cont:hover .postname {
  height: 100%;
  top: 0px;
  backdrop-filter: blur(5px);
  background: linear-gradient(0deg, #000000 10%, rgba(0, 0, 0, 0.5) 100%);
}
.post-cont .postname p {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: white;
  margin-left: 20px;
  position: relative;
  top: 59px;
}
